body {
  background-color: #f0f0f0; /* Màu nền của trang */
  background-image: url('duong-dan-den-hinh-nen.jpg'); /* Đường dẫn đến hình nền (nếu có) */
  background-size: cover; /* Chọn kích thước để bao phủ toàn bộ màn hình */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
  background-attachment: fixed; /* Giữ hình nền cố định khi cuộn trang */
  /* Thêm các thuộc tính khác tùy thuộc vào yêu cầu của bạn */
}

/* Các quy tắc CSS khác cho các phần khác của giao diện chính */
.header {
  /* CSS cho phần header */
}

.main-content {
  /* CSS cho phần nội dung chính */
}

.footer {
  /* CSS cho phần footer */
}
h1{
    color:red;
}
p {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color:darkblue;
  }
label {
    padding-right: 30px;
    font-size: 1rem;
    color:red;
}
.blue-text {
    color: blue;
}
.hg{
    color:red and orange;
    font-family: Time New Roman;
    font-size:300px;
    font-weight: 900;
}
.about{
    color:chartreuse;
}
.about-author {
        background: linear-gradient(to right, red, yellow);
        color: transparent; /* Đặt màu chữ thành trong suốt */
        background-clip: text; /* Cho phép áp dụng gradient màu cho chữ */
        display: inline-block; /* Để chia gradient theo chiều ngang */
        /* Thêm các thuộc tính CSS khác nếu cần */
}
    
